---
layout: default
title: seminars
description: ""
group: navigation 
navorder: 1
---
{% include JB/setup %}

{% for post in site.categories.seminars %}
    <div class="bigspacer"></div>
    <div class="row">
        <!-- left margin -->
        <div class="col-md-2">
            <div class="smallhead">
                {{ post.date | date_to_string }}
                {% if author %}
                by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
                {% endif %}
            </div>

            {% if post.image %}
            <a href="{{ post.url }}"><img class="offset" width=125 src="{{ post.image }}"></a>
            {% endif %}
        </div>
        <!-- body -->
        <div class="col-md-8">
            <!-- <div style="height:5px;"></div> -->
            <div class="smallhead">
                <!-- seminar title -->
                <a href="{{ post.url }}" class="off">{{ post.title }}</a>
            </div>

            <div class="smalltitle">
                <!-- seminar speaker -->
                <a href="{{ post.url }}">{{ post.author }}</a>
            </div>

            <div class="smallhead">
                {{ post.affil }}
            </div>
        </div>
        <!-- right margin (spacer) -->
        <div class="col-md-1"></div>
    </div>

    <!-- gap between entries -->
    <div class="bigspacer"></div>
{% endfor %}


<!-- <div class="row">
        <div class="col-md-12 text-center">
                <a class="off" href="/{{ page.category }}/archive/">
                        <div class="smallhead">Archive</div>
                        <i class="text-gray fa fa-chevron-circle-down fa-2x"></i>
                </a>
        </div>
</div> -->
