<div class="bigspacer"></div>

<div class="row">
	<!-- left margin -->
	<div class="col-md-3">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object paper-image" 
			     src="{{ page.image }}">
			{% endif %}
		</div>
		<div class="head">
			{{ page.author }}
		</div>
		<div class="smallhead"">
			{{ page.affil }}
		</div>
	</div>

	<!-- body -->
	<div class="col-md-9">
		<div class="media-body titlebox">
			<div class="title media-heading">
				{{ page.title }}
			</div>
			<p>
		</div>
		{{ page.content }}
	</div>
</div>
