---
layout: default
title: papers
categories: 
 - papers
group: navigation 
navorder: 2
description: ""
---

{% include JB/setup %}

<div class="bigspacer"></div>

{% for paper in site.categories.papers %}
    <div class="row">
		<!-- left column -->
		<div class="col-md-2">
			<div class="smallhead">
				{{ paper.date | date_to_string }}
			</div>
		</div>

		<!-- body -->
		<div class="col-md-8">
			<div class="midhead">
				<a class="off" href="{{ paper.url }}">{{ paper.title }}</a>
			</div>

			<div class="note-title">
				{{ paper.authors }}
			</div>

			<div class="note">
				{{ paper.journal }}
			</div>
        </div>
    </div>

	<div class="bigspacer"></div>
{% endfor %}
