---
layout: default
title: team
categories:
  - team
group: navigation
navorder: 6
description: "People in the lab"
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Faculty
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="bigspacer"></div>
{% for member in site.categories.faculty %}	
	<div class="media">
	<a class="pull-left" href="{{ member.url }}">
		<img width="150" class="media-object" src="{{ member.image }}">
	</a>
		<div class="media-body">
		<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
		<p class="note">{{ member.position }}</p>
	</div>
	</div>
	<div class="bigspacer"></div>
{% endfor %}

<br>
<div class="bigspacer"></div>
<div class="bigspacer"></div>
